@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}
html{
    scroll-behavior: smooth;
}

body {
  background-color: #12172b;
  color: white;
  font-family: "Poppins", sans-serif;
  
}
.topbtn{
    position: fixed;
    width: 35px;
    height: 35px;
    background:#0000FF;
    bottom:40px;
    right:50px;
    color :white;
    text-align: center;
    line-height:35px;
    border:1px solid white;
    border-radius:50%;
    z-index: 2;
}
.homebtn{
    position: fixed;
    width: 35px;
    height: 35px;
    background:#0000FF;
    bottom:80px;
    right:50px;
    color :white;
    text-align: center;
    line-height:35px;
    border:1px solid white;
    border-radius:50%;
    z-index: 2;
}
h1 {
  text-align: center;
  margin-top: 40px;
  font-size: 80px;
}
h3{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
  }
.skills-area {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.skill {
  position: relative;
  margin-bottom: 40px;
}

.skill-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.skill-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  height: 40px;
  z-index: -1;
  border-radius: 100px;
  position: absolute;
}


.skill-fill {
  background: blue;
  height: 40px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
  overflow: hidden;
}

.skill-percent {
  font-size: 30px;
}

.html {
  animation: html 2s;
  width: 80%;
}

.css {
  animation: css 2s;
  width: 50%;
}

.js {
  animation: js 2s;
  width: 45%;
}
.lnt {
  animation: lnt 2s;
  width: 95%;
}
.adapting {
  animation: adapting 2s;
  width: 85%;
}
.c {
  animation: c 2s;
  width: 85%;
}
.cpp {
  animation: cpp 2s;
  width: 70%;
}
.python {
  animation: python 2s;
  width: 70%;
}
.java {
  animation: java 2s;
  width: 60%;
}

@keyframes html {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}

@keyframes css {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

@keyframes js {
  from {
    width: 0;
  }
  to {
    width: 45%;
  }
}
@keyframes lnt {
  from {
    width: 0;
  }
  to {
    width: 95%;
  }
}
@keyframes adapting {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes c {
  from {
    width: 0;
  }
  to {
    width: 85%;
  }
}
@keyframes cpp{
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes python{
  from {
    width: 0;
  }
  to {
    width: 70%;
  }
}
@keyframes java{
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@media only screen and (max-width: 750px) {
  .skills-area {
    padding: 0 5%;
  }
}
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color:#D6F9DD;
  color:#60695C;
}
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}
